@media (max-width: 600px) {
  .nav-container {
    margin-bottom: 20%;
  }
}

@media (min-width: 600px) {
  .nav-container {
    margin-bottom: 10%;
  }
}

.navbar-default {
  background-color: rgba(0, 0, 0, 0.445);
}

.navbar-brand {
  color: aliceblue;
}

