footer {
    /* box-sizing:border-box; */
    /* padding:30px 0 100px; */
    background:#373737;
    width:100%;
    position:relative;
    margin-top:250px;
    margin-bottom:0;
    height:300px;
}

@media (max-width: 600px) {
    footer {
        height:500px;
    }
}