<div class="audiobar">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div *ngIf="currentTrack">
                    <small>{{currentTrack.title}}</small> -
                    <small>{{artistsString}}</small>
                </div>
            </div>

            <div class="col-md-6">


                <audio id="audio" controls>
                    Your browser does not support the
                    <code>audio</code> element.
                </audio>
            </div>

        </div>

    </div>
</div>
