<div class="audiobar">
    <div class="container">
        <div class="row">
            <div class="col-4 col-sm-4 col-lg-2">
                <div *ngIf="currentTrack">
                    <img class="img-thumbnail" src="{{s3BaseImageUrl + currentTrack.image}}" alt="Thumbnail">
                </div>
            </div>
            <div class="col-6 col-sm-8 col-lg-2">
                <div id="trackinfo" *ngIf="currentTrack">
                    <small>{{currentTrack.title}} -
                    {{currentTrack.artistNames}}</small>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-8">
                <audio id="audio" controls>
                    Your browser does not support the
                    <code>audio</code> element.
                </audio>
            </div>
        </div>
    </div>
</div>
