<!-- <div class="container">
  <h2>All Tracks</h2>
  <ul class="list-group" *ngFor="let track of tracks" >
      <li class="list-group-item list-group-item-dark" >
        <img class="img-thumbnail" src="{{s3BaseImageUrl + track.image}}" alt="Thumbnail">
        <span>{{track.title}}</span>
        <div class="play-button">
            <button class="btn btn-primary"
            (click)="onPlayAudio(track.id)"><i class="fa fa-play"></i></button>
        </div>
      </li>
  </ul>
</div> -->

<div class="container">
  <h2>Track List</h2>
  <!-- <p>The .table-hover class adds a hover effect (grey background color) on table rows:</p> -->
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Title</th>
        <th>Artists</th>
        <th>Release Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let track of tracks">
          
        <td><a [routerLink]="['/tracks', track.id]">
            <img class="img-thumbnail" src="{{s3BaseImageUrl + track.image}}" alt="Thumbnail">
          </a> </td>
        <td><div class="play-button">
          <button class="btn btn-primary"
          (click)="onPlayAudio(track.id)"><i class="fa fa-play"></i></button></div></td>
        <td>{{track.title}}</td>
        <td >
          <span *ngFor="let artist of track.artists">{{artist.name}}, </span>
        </td>
        <td>{{track.releaseDate}}</td>
      </tr>
    </tbody>
  </table>
</div>
